{% extends "general_info/base.html" %}

{% block content %}
<form id='add-blog' method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Отправить</button>
</form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $('#add-blog').on('submit', function(e){
         e.preventDefault();
         const formData = $(this).serialize();
           $.ajax({
                type : "POST",
                url: "{% url 'Блог' %}",
                data: formData,

                success: function(data){
                   $('#output').html(data.msg) /* response message */
                },

                failure: function() {
                }
            });
                 });
</script>
<h1>{{last_blog.title}}</h1>
{{last_blog.text}}
{% endblock content %}